.main.container {
  margin-top: 7em;
}

/**** BinaryScale ****/
.binary-scale { width: 100%; overflow: hidden; font-size: 0.8em; }
.binary-scale .digit {
  width: 1em; height: 1em; overflow: hidden; text-indent: -2em;
  float: left; border-radius: 1em; background-color: #DDD; margin-right: 1px; }
.binary-scale .digit.one { background-color: #666; }
